

<div class="jumbotron jumbotron-landin">
  <h1 class="display-3">Делитесь своими эмоциями</h1>
  <p class="lead">Размещайте свои фотографии и подписываетесь на публикации ваших друзей</p>
  <hr class="my-4">
<a class="btn btn-danger" href="#" role="button">Создать аккаунт</a>
<a class="btn btn-info" href="#" role="button">Войти</a>

</div>
