<div class="card text-center photo-form">
  <div class="card-header">
  <h4>Редактировать фото</h4>
  </div>
  <div class="card-body">

<%= render 'form', photo: @photo %>

<%= link_to 'показать', @photo %> |
<%= link_to 'назад', photos_path %>
</div>
</div>
