
<div class="card text-center photo-form">
  <div class="card-header">
  <h4>Добавить фото</h4>
  </div>
  <div class="card-body">

<%= render 'form', photo: @photo  %>

<%= link_to 'Back', photos_path%>
</div>
</div>
