
<div class="card text-center photo-form">
  <div class="card-header">
  </div>
  <div class="card-body">

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<%= link_to 'Изменить', edit_photo_path(@photo) %> |
<%= link_to 'Назад', photos_path %>
  </div>
</div>
